body{
    background-image: url("c4.jpg");
    }

ul{
    position: absolute;
    right: 15px;
    top: 15px;
     }

li a{
    font-style: italic;
    color: ghostwhite;
    font-size: 30px;
     }

 h1{
    top:20px;
    left:20px;
    color: white;
    padding-top: 30px;
    padding-left: 400px;
     }    

 label{
    padding-left: 400px;
    padding-top: 50px;
    font-size: 20px;
    color: black;
 }   

 input{
    padding-left: 100px;
    padding-top: 20px;
 }

 h5{
    padding-left: 300px;
 }

 p{
    padding-left: 400px;
 }

 .name
 {
    padding-left: 400px;
        font-size: 20px;
    color: ghostwhite;
 }