.pp
{

	width: 250px;
	height: 340px;
	left: 20px;
	
    

}
.bgd
{
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("pk.jpg");
}
.vdo
{
	height: 200px;
	width: 200px;
	position: absolute;
right: 50px;
top: 20px;

}
.home
{
	height: 10px;
	width: 10px;
	font-size: 20px;
	background-color: white;
	
}
.vv
{
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("am.jpg");
}
.mm
{
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url("tm.jpg");

}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #456;
}

li {
    float: left;
}

li a {
    display: block;
  
    text-align: center;
    padding: 25px 52px;
    text-decoration: none;
}
.sub
{
	height: 10px;
	width: 10px;
	font-size: 20px;
background-color: lightgrey;
}
.contact
{
	height: 10px;
	width: 10px;
	font-size: 20px;
background-color: grey;
}
div button
{
    display:inline-block;
}
.home
{

}
.sub
{

}
.contact
{
	
}